.btn {
  padding: 0.5em 1rem;
}

.sidebar-new-topic-button__wrapper {
  margin: 1.5rem 1rem;
}

.sidebar-new-topic-button__wrapper .btn {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  svg {
    color: var(--accent-text-color);
  }
}
