//
body.login-page,
body.static-login {
  #main-outlet-wrapper {
    grid-template-areas:
      "sidebar blank"
      "sidebar content"
      "sidebar below-content";
    grid-template-rows: auto 1fr auto;
  }
  .login-welcome {
    border-radius: none;
    border: none;
    box-shadow: none;
  }
}

.login-fullpage .input-group .user-field.text label.control-label,
.login-fullpage .input-group .user-field.dropdown label.control-label,
.login-fullpage .input-group .user-field.multiselect label.control-label,
.signup-fullpage .input-group .user-field.text label.control-label,
.signup-fullpage .input-group .user-field.dropdown label.control-label,
.signup-fullpage .input-group .user-field.multiselect label.control-label,
.invites-show .input-group .user-field.text label.control-label,
.invites-show .input-group .user-field.dropdown label.control-label,
.invites-show .input-group .user-field.multiselect label.control-label,
.password-reset-page .input-group .user-field.text label.control-label,
.password-reset-page .input-group .user-field.dropdown label.control-label,
.password-reset-page .input-group .user-field.multiselect label.control-label {
  z-index: 398;
}
