.list-controls {
  // position: sticky;
  // top: 0;
  // background: transparent;
  // this does not work properly without using a background color
  // which if used, conflicts with the gradient background
  z-index: 100;
  padding-top: 1.5rem;
  max-width: unset;
  width: 100%;

  .navigation-container {
    .category-breadcrumb {
      order: 1;
      margin-left: 0.5em;
    }
  }
  .combo-box .combo-box-header {
    background-color: var(--secondary);
    border-radius: 6.25rem;
  }
  .select-kit.is-expanded .select-kit-body {
    background: #ffffff;
    border-radius: var(--d-border-radius);
  }
}
.nav-pills > li > a:hover,
.nav-pills > li button:hover {
  background: transparent;
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: var(--d-nav-underline-height);
    background: var(--accent-color);
  }
}
