:root {
  // --d-sidebar-background: #f5f8ff;
}

.sidebar-section-link-wrapper .sidebar-section-link {
  border-radius: var(--d-border-radius);
}

.sidebar-wrapper {
  background: #f5f8ff;

  .has-full-page-chat & {
    background: transparent;
  }
  .sidebar-container {
    border-right: none;
  }

  .sidebar-sections {
    padding: 0;
  }
}

.admin-area .sidebar-wrapper .admin-panel {
  background-color: var(--secondary);
}
