:root {
  --d-border-radius-large: 20px;
  --d-border-radius: 6px;
  --d-input-border-radius: 6px;
  --accent-color: #3c41c3;
  --accent-text-color: #ffffff;
  --d-nav-color--active: var(--accent-color);
  --primary: #14171f;
  --header-background: #f5f8ff;
  --d-post-control-background--hover: #ebecf9;
  --d-post-control-text-color--hover: #242775;
}
//the idea is: block spacing can grow with font-size, but inline spacing should not to maintain horizontal (text) alignment
$margin-block-xs: 0.25em;
$margin-block-s: 0.5em;
$margin-block-sm: 0.75em;
$margin-block-m: 1em;
$margin-block-l: 1.5em;
$margin-block-xl: 2em;
$margin-block-xxl: 4em;
$margin-inline-xs: 0.25em;
$margin-inline-s: 0.5rem;
$margin-inline-sm: 0.75rem;
$margin-inline-m: 1rem;
$margin-inline-l: 1.5rem;
$margin-inline-xl: 2rem;
$margin-inline-xxl: 4rem;
$padding-block-xs: 0.25em;
$padding-block-s: 0.5em;
$padding-block-sm: 0.75em;
$padding-block-m: 1em;
$padding-block-l: 1.5em;
$padding-block-xl: 2em;
$padding-block-xxl: 4em;
$padding-inline-xs: 0.25rem;
$padding-inline-s: 0.5rem;
$padding-inline-sm: 0.75rem;
$padding-inline-m: 1rem;
$padding-inline-l: 1.5rem;
$padding-inline-xl: 2rem;
$padding-inline-xxl: 4rem;
