:root {
  --accent-base-color: #{$tertiary};

  --accent-color: light-dark(
    var(--accent-base-color),
    oklch(
      #{oklch-L($tertiary, 0.95)} #{oklch-C($tertiary)} #{oklch-H($tertiary)}
    )
  );

  // Background Colors
  --background-color: light-dark(
    oklch(98% #{oklch-C($tertiary, 0.25)} #{oklch-H($tertiary)}),
    oklch(10% #{oklch-C($tertiary, 0.025)} #{oklch-H($tertiary)})
  );
  --content-background: light-dark(
    oklch(
      #{oklch-L($secondary, 2)} #{oklch-C($secondary)} #{oklch-H($secondary)}
    ),
    oklch(
      #{oklch-L($secondary, 1)} #{oklch-C($secondary)} #{oklch-H($secondary)}
    )
  );
  // Header Colors
  --header_primary-low-mid: light-dark(
    oklch(73.5% #{oklch-C($tertiary, 0.5)} #{oklch-H($tertiary)}),
    oklch(
      #{oklch-L($tertiary)} #{oklch-C($tertiary, 0.25)} #{oklch-H($tertiary)}
    )
  );
  --header_primary-medium: light-dark(
    oklch(54% #{oklch-C($tertiary, 0.5)} #{oklch-H($tertiary)}),
    oklch(
      #{oklch-L($tertiary, 1.35)} #{oklch-C($tertiary, 0.25)} #{oklch-H(
          $tertiary
        )}
    )
  );
}
