html {
  --accent-color: #{$tertiary};
  --accent-text-color: light-dark(#ffffff, #212121);
  // Background Colors
  --background-color: light-dark(
    oklch(from #{$tertiary} 98% calc(c * 0.25) h),
    oklch(from #{$tertiary} 10% 0.025 h)
  );
  --d-content-background: light-dark(
    oklch(from #{$secondary} calc(2 * l) c h),
    oklch(from #{$secondary} l c h)
  ) !important;
  // HeaderColors
  --header_primary-low-mid: light-dark(
    oklch(from #{$tertiary} 73.5% calc(c * 0.5) h),
    oklch(from #{$tertiary} l calc(c * 0.25) h)
  ) !important;
  --header_primary-medium: light-dark(
    oklch(from #{$tertiary} 54% calc(c * 0.5) h),
    oklch(from #{$tertiary} calc(l * 1.35) calc(c * 0.25) h)
  );

  // Sidebar Colors
  --d-sidebar-border-color: light-dark(
    oklch(from #{$tertiary} 90% c h),
    oklch(from #{$tertiary} calc(l * 0.7) calc(c * 0.25) h)
  );
  --d-sidebar-link-color: light-dark(
    oklch(from #{$tertiary} calc(l * 0.8) calc(c * 0.25) h),
    oklch(from #{$tertiary} calc(l * 1.5) calc(c * 0.25) h)
  );
  --d-sidebar-suffix-color: light-dark(
    oklch(from #{$tertiary} l calc(c * 0.9) h),
    oklch(from #{$tertiary} l calc(c * 0.9) h)
  );

  // Other Colors
  --d-selected: light-dark(
    oklch(from #{$tertiary} 92% calc(c * 0.5) h),
    oklch(from #{$tertiary} calc(l * 0.7) calc(c * 0.25) h)
  ) !important;

  --d-nav-color--active: #{$tertiary};
  --link-color: light-dark(
    #{$tertiary},
    oklch(from #{$tertiary} calc(l * 0.95) c h)
  );
  --link-color-hover: light-dark(
    #{$tertiary},
    oklch(from #{$tertiary} calc(l * 1.5) calc(c * 2.25) h)
  );
  --tertiary-hover: #{$tertiary};

  // Search Colors
  --search-color: light-dark(
    oklch(from #{$tertiary} calc(l * 0.65) calc(c * 0.65) h),
    oklch(from #{$tertiary} calc(l * 1.5) calc(c * 2) h)
  );
  --search-banner-text-color: light-dark(
    oklch(from #{$tertiary} calc(l * 0.65) calc(c * 0.65) h),
    oklch(from #{$tertiary} calc(l * 1.85) calc(c * 2) h)
  );

  // Topic Card Colors
  --topic-card-shadow: light-dark(
    oklch(from #{$tertiary} calc(l * 1.85) calc(c * 0.5) h),
    oklch(from #{$tertiary} calc(l * 0.2) calc(c * 0.01) h / 0.25)
  );

  // Button Colors
  --button-box-shadow: light-dark(
    oklch(from #{$tertiary} calc(l * 1.5) calc(c * 0.35) h),
    oklch(from #{$tertiary} calc(l * 0.75) calc(c * 0.5) h)
  );

  --d-sidebar-highlight-hover-icon: var(--d-sidebar-link-color);
  --d-sidebar-highlight-hover-background: var(--d-selected);
  --d-sidebar-link-icon-color: var(--d-sidebar-link-color);
  --d-sidebar-header-color: var(--d-sidebar-link-color);
  --d-sidebar-header-icon-color: var(--d-sidebar-link-color);
  --d-sidebar-active-suffix-color: var(--d-sidebar-suffix-color);
  --d-sidebar-background: var(--background-color);
  --d-sidebar-footer-fade: rgba(var(--tertiary-50-rgb), 1);
  --d-sidebar-prefix-background: var(--d-selected);
  --d-sidebar-active-prefix-background: light-dark(
    oklch(from var(--d-selected) calc(l * 0.85) c h),
    oklch(from var(--d-selected) calc(l * 0.7) c h)
  );
  --d-sidebar-highlight-prefix-background: light-dark(
    oklch(from var(--d-selected) calc(l * 0.85) c h),
    oklch(from var(--d-selected) calc(l * 0.7) c h)
  );
  --d-sidebar-highlight-suffix-color: var(--d-sidebar-active-suffix-color);
  --d-sidebar-highlight-color: var(--primary);
  --d-sidebar-highlight-background: var(--d-selected);
  --d-sidebar-section-link-icon-size: 1em;
  --d-hover: oklch(from var(--d-selected) l c h / 0.75);
  --d-input-bg-color: var(--d-content-background);
}
